body {
    background-color: rgb(0, 102, 102);
}

body {
    margin: 50px 0px;
    padding: 10vh;
    text-align: center;
}

div {
    margin: 30vh;
}

form input {
    margin: 10px;
    width: 40vh;
}

/* #btn {
    background-color: gray;
    padding: 5px;
    margin: 50px;
    text-transform: uppercase;
} */

#btn {
    background-color: white;
    border: solid 2px #1ECD97;
    color: #1ECD97;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

#btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 4px;
    transition: 0.3s;

}